.popup__button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    height: 50px;
    cursor: pointer;
    margin: 0 34px 54px 36px;
    margin-bottom: 37px;
    transition: background-color 0.3s ease;
    padding: 0;
    width: 358px;
}
.popup__button:hover {
    background-color: #313131;
}

@media screen and (max-width: 500px) {
    .popup__button {
        height: 46px;
        margin: 0 22px 25px 22px;
        font-size: 14px;
        line-height: 17px;
        width: 238px;
    }
}
