.popup__button-close {
    background-color: transparent;
    border: none;
    background-image: url('../../../images/CloseIcon.png');
    width: 32px;
    height: 32px;
    position:absolute;
    top: -12%;
    right: -9%;
    cursor: pointer;
    transition: opacity 0.5s ease;
}
.popup__button-close:hover {
    opacity: 0.6;
}
@media screen and (max-width: 530px) {
    .popup__button-close {
        background-size: cover;
        width: 20px;
        height: 20px;
        top: -11%;
        right: 0%;
    }
}
